body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
h3{
    font-family: "Lobster", cursive;
    margin: 20 px;
}
.navbar{
    background-color: black;
}
.jumbotron{
    margin: 0;
    padding: 20px 0;
}
